.submit-btn {
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    font-size: 0.8rem;
    height: 40px;
    width: 100px;
    transition: all .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    &.isLoading {

        & span {
    
            &:nth-child(1) {
                display: none;
            }
        }
    
        &::before {
            content: "";
            height: 20px;
            width: 20px;
            border-right: 2px solid $white;
            border-left: 2px solid $white;
            border-bottom: 2px solid transparent;
            border-top: 2px solid transparent;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
    }
}
