@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --ideal-viewport-width: 1600;
}

@function scaleValue($value) {
    @return calc(#{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width)));
}

*,
*::after,
*::before {
    //box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: $primary-color;

    box-sizing: border-box;
    //padding: 3rem;
}

html {
    font-family: 'Poppins';
    //font-size: 10px;
    font-style: normal;
    overflow-x: hidden;

    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) {
        // width < 1200?
        font-size: 45%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) {
        // width < 900?
        //font-size: 45%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

::selection {
    background-color: $primary-color;
    color: $white;
}