$primary-color: rgba(36, 155, 72, 1);
$white: rgba(255, 255, 255, 1);
$faint-primary-color: rgba(101, 213, 135, 1);
$black: rgba(0, 0, 0, 1);
$landing-side-padding: 10rem;
$sky-blue: rgba(200, 238, 244, 1);
$grey: rgba(217, 217, 217, 1);
$sky-blue-lite: rgba(168, 209, 240, 1.0);